# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
*.lock.hint

# Env (keep .env.example)
.env
.env.*
!.env.example
assets/env/*.env
!assets/env/*.example.env

# Generated
*.g.dart

# Android
**/local.properties
**/key.properties
*.jks
android/app/.ci-keystore-secrets-temp.txt
